<div class="bg-white dark:bg-primary-dark dark:text-neutral-200 m-5 p-5 rounded-lg shadow-lg">
    <div class="form-wrapper">
        <h2 class="text-lg mb-1 text-gray-800 dark:text-neutral-200 font-bold">Formulario Secretaria</h2>
        <p class="text-gray-600 dark:text-neutral-400 text-sm mb-6">Formulario de ingreso de datos de la secretaria</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-12 gap-6 p-4">

                <!-- Profesor -->
                <div class="lg:col-span-3 col-span-1 flex items-center">
                    <label class="block text-sm font-medium text-gray-800 dark:text-neutral-200 mb-1">
                        Profesor*
                    </label>
                </div>

                <div class="lg:col-span-9 col-span-1">
                    @defer (when profesores.length > 0){
                        <p-select id="profesor" formControlName="profesor" [options]="profesores" optionLabel="name"
                                  placeholder="Seleccione un profesor"
                                  class="w-full dark:bg-white dark:border-white rounded-md"/>
                    }
                </div>

                <!-- Estudiante -->
                <div class="lg:col-span-3 col-span-1 flex items-center">
                    <label class="block text-sm font-medium text-gray-800 dark:text-neutral-200 mb-1">
                        Estudiante*
                    </label>
                </div>
                <div class="lg:col-span-9 col-span-1">
                    <p-select id="estudiante" formControlName="estudiante" [options]="estudiantes" optionLabel="name"
                              placeholder="Seleccione un estudiante"
                              class="w-full dark:bg-white dark:border-white rounded-md"/>
                </div>

                <!-- Documentos -->
                <div class="lg:col-span-3 col-span-1 flex items-center">
                    <label class="block text-sm font-medium text-gray-800 dark:text-neutral-200 mb-1">
                        Documentos*
                    </label>
                </div>
                <div class="lg:col-span-9 col-span-1">
                    <ui-file-uploader
                        formControlName="documentIn"
                        [multiple]="false"
                        [view]="'single'"
                        [required]="true"
                        class="w-full"
                    />
                </div>

                <!-- Observación -->
                <div class="lg:col-span-3 col-span-1 flex items-center">
                    <label class="block text-sm font-medium text-gray-800 dark:text-neutral-200 mb-1">
                        Observación*
                    </label>
                </div>
                <div class="lg:col-span-9 col-span-1">
                    <textarea rows="5" cols="30" pTextarea formControlName="text"
                              class="w-full p-2 border rounded-md dark:bg-white dark:border-gray-300 dark:text-gray-800"
                              placeholder="Escriba una observación"></textarea>
                </div>

                <!-- Nota -->
                <div class="lg:col-span-3 col-span-1 flex items-center">
                    <label class="block text-sm font-medium text-gray-800 dark:text-neutral-200 mb-1">
                        Nota*
                    </label>
                </div>
                <div class="lg:col-span-9 col-span-1">
                    <p-inputnumber inputId="integeronly" formControlName="value"
                                   class="w-full dark:bg-white dark:border-gray-300 dark:text-gray-800"
                                   placeholder="Ingrese la nota"/>
                </div>
            </div>

            <!-- Botón Guardar -->
            <div class="mt-6">
                <p-button type="submit" label="Guardar"
                          class="w-full dark:bg-green-700 dark:hover:bg-green-600 dark:text-neutral-200 dark:border-none"
                          icon="pi pi-check"
                          iconPos="right"></p-button>
            </div>
        </form>
    </div>
</div>

<p-toast />