
<header
        class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white border-b
        text-sm py-2.5 lg:ps-[260px] dark:bg-primary-dark dark:border-primary-dark">
    <nav class="px-4 sm:px-6 flex basis-full items-center w-full mx-auto">
        <div class="me-5 lg:me-0 lg:hidden">
            Logo
        </div>

        <div class="w-full flex items-center justify-end ms-auto md:justify-between gap-x-1 md:gap-x-3">

            <div class="hidden md:block">
                
                <!-- End Search Input -->
            </div>

            <div class="flex flex-row items-center justify-end gap-1">
                <button type="button"
                        class="md:hidden size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-primary-dark-hover dark:focus:bg-neutral-700">
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"/>
                        <path d="m21 21-4.3-4.3"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>

                <!-- Botón de modo oscuro/claro -->
                <button type="button"
                        class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-primary-dark-hover dark:focus:bg-neutral-700"
                        (click)="toggleDarkMode()">
                    @if (isDarkMode) {
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M21.17 16.95A9 9 0 1 1 12 3a7 7 0 0 0 9.17 13.95z"/>
                        </svg>
                    } @else {
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <circle cx="12" cy="12" r="5"/>
                            <path d="M12 1v2"/>
                            <path d="M12 21v2"/>
                            <path d="M4.22 4.22l1.42 1.42"/>
                            <path d="M18.36 18.36l1.42 1.42"/>
                            <path d="M1 12h2"/>
                            <path d="M21 12h2"/>
                            <path d="M4.22 19.78l1.42-1.42"/>
                            <path d="M18.36 5.64l1.42-1.42"/>
                        </svg>
                    }

                    <span class="sr-only">Toggle Dark Mode</span>
                </button>


                <!--<button type="button"
                    class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-primary-dark-hover dark:focus:bg-neutral-700">
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
                        <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
                    </svg>
                    <span class="sr-only">Notifications</span>
                </button>

                <button type="button"
                    class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-primary-dark-hover dark:focus:bg-neutral-700">
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M22 12h-4l-3 9L9 3l-3 9H2" />
                    </svg>
                    <span class="sr-only">Activity</span>
                </button>-->

                <div class="flex flex-row items-center justify-end gap-1">
                    <!-- Dropdown -->
                    <div class="relative inline-flex" (document:click)="closeDropdown($event)">

                        <button id="dropdown-account" type="button"
                                class="w-9 h-9 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
                                aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown"
                                (click)="toggleDropdown()">
                        <span class="inline-flex items-center justify-center w-8 h-8 text-xs font-semibold rounded-full leading-none border dark:text-gray-100 border-gray-200 bg-quinary text-gray-800 shadow-sm">
                            {{initialUserLS}}
                        </span>
                        </button>

                        <div class="absolute right-0 top-7 mt-2 w-48 origin-top-right bg-white border border-gray-200 rounded-md shadow-lg outline-none transition-opacity duration-300"
                             [ngClass]="{'opacity-100': isDropdownOpen, 'opacity-0 hidden': !isDropdownOpen}"
                             (clickOutside)="closeDropdown($event)" role="menu" aria-orientation="vertical"
                             aria-labelledby="dropdown-account">
                            <div class="py-3 px-5 bg-gray-100 rounded-t-lg">
                                <p class="text-sm text-darkGray-700">Registrado como</p>
                                <p class="text-sm font-medium text-darkGray">{{usernameLS}}</p>
                            </div>
                            <div class="p-1.5 space-y-0.5">
                                <a (click)="logout()"
                                   class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 cursor-pointer">
                                    <svg class="shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                         height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#000000"
                                              stroke-width="1.344" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                        <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.3531 21.8897 19.1752 21.9862 17 21.9983M9.00195 17C9.01406 19.175 9.11051 20.3529 9.87889 21.1213C10.5202 21.7626 11.4467 21.9359 13 21.9827"
                                              stroke="#000000" stroke-width="1.344" stroke-linecap="round"></path>
                                    </svg>
                                    Cerrar sesión
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Dropdown -->
                </div>
                <!-- End Dropdown -->
            </div>
        </div>
    </nav>
</header>
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ========== -->
<div class="-mt-px">
    <!-- Breadcrumb -->
    <div
            class="sticky top-0 inset-x-0 z-20 bg-white border-y px-4 sm:px-6 lg:px-8 lg:hidden dark:bg-primary-dark dark:border-neutral-700">
        <div class="flex items-center py-2">
            <!-- Navigation Toggle -->
            <button type="button"
                    class="size-8 flex justify-center items-center gap-x-2 border border-gray-200 text-gray-800 hover:text-gray-500 rounded-lg focus:outline-none focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
                    aria-haspopup="dialog" aria-expanded="false" aria-label="Toggle navigation"
                    (click)="toggleSidebar()">
                <span class="sr-only">Toggle Navigation</span>
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <rect width="18" height="18" x="3" y="3" rx="2"/>
                    <path d="M15 3v18"/>
                    <path d="m8 9 3 3-3 3"/>
                </svg>
            </button>
            <!-- End Navigation Toggle -->
        </div>
    </div>
    <!-- End Breadcrumb -->
</div>

<div class="flex">
    <!-- Backdrop -->
    <div class="fixed inset-0 z-[59] bg-black transition-opacity duration-300 ease-in-out"
         [ngClass]="{'bg-opacity-50': isSidebarVisible, 'bg-opacity-0 pointer-events-none': !isSidebarVisible}"
         (click)="toggleSidebar()"></div>
    <!-- Sidebar -->
    <div id="hs-application-sidebar" role="dialog" tabindex="-1" aria-label="Sidebar"
         class="fixed inset-y-0 start-0 z-[60] w-[260px] h-full bg-white border-e border-gray-200 dark:bg-primary-dark dark:border-neutral-700
      transition-all duration-300 ease-in-out transform lg:block
      -translate-x-full opacity-0"
         [ngClass]="{
        'translate-x-0 opacity-100': isSidebarVisible || isLargeScreen,
        '-translate-x-full opacity-0': !isSidebarVisible && !isLargeScreen
     }">
        <div class="relative flex flex-col h-full max-h-full">
            <div class="px-6 pt-4 text-blue-700">
                SISTEMA ACADEMICO
            </div>

            <!-- Content -->
            <div
                    class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
                <nav class="hs-accordion-group p-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
                    <ul class="flex flex-col space-y-1">
                        <li>
                            <a routerLinkActive="bg-gray-100 dark:bg-primary-dark-hover"
                               class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 dark:hover:bg-primary-dark-hover focus:outline-none focus:bg-gray-100 dark:text-white"
                               routerLink="/secretary">
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                                    <polyline points="9 22 9 12 15 12 15 22"/>
                                </svg>
                                Secretaria
                            </a>
                        </li>

                        
                        <li>
                            <a class="w-full flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 dark:hover:bg-primary-dark-hover dark:text-neutral-200 dark:hover:text-neutral-300"
                               routerLink="/view-data-guess">
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/>
                                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/>
                                </svg>
                                Datos
                            </a>
                        </li>

                        
                    </ul>
                </nav>
            </div>
            <!-- End Content -->
        </div>
    </div>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="flex-grow lg:pl-[260px]">
        <div>
            <!-- your content goes here ... -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

